<div id="map"></div>

@section Scripts{
    @*Add api key to project settings*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt70JiYwBBxY7AfW70WNXtnc6LOr_dp9U&callback=initMap"></script>

    <script type="text/javascript">
        function initMap() {
            require(["stopsList"], function (stopsList) {
                stopsList.init();
            });
        }
    </script>
}
